@namespace vacawasm

@page "/"
@inherits VaquesData

<div class="flex-1 bg-white flex-col sm:flew-row .border-2" id="main">
    <!-- Columnes -->
    <div class="flex w-screen bg-white h-screen">
        <VaquesColumn Amplada="w-1/4" HaveMarca=true Vaques=@Camp ImatgeSuperior=@imatgeCamp OnClick="MouVacaAlCamio" />
        <VaquesColumnExtended Amplada="w-2/4 bg-gray-300" Vaques=@Camio ImatgeSuperior=@imatgeCamio OnClick="TornaVacaAlCamp" />
        <VaquesColumn Amplada="w-1/4" Vaques=@Ciutat ImatgeSuperior=@imatgeCiutat OnClick="NoFacisRes" />
    </div>
</div>
<Peu Litres="@Litres" OnClick="EnviaLesVaquesALaCiutat"/>


@code {
    void MouVacaAlCamio(string nomVaca)
    {
        // http://localhost:4567/vaques/camp/:nomVaca
        var vaca = Camp.FirstOrDefault(v => v.Nom == nomVaca);
        Camp = Camp.Where(x => x.Nom != nomVaca).ToList();
        Camio.Add(vaca);
    }

    void TornaVacaAlCamp(string nomVaca)
    {
        // http://localhost:4567/vaques/camio/:nomVaca
        var vaca = Camio.FirstOrDefault(v => v.Nom == nomVaca);
        Camio = Camio.Where(x => x.Nom != nomVaca).ToList();
        Camp.Add(vaca);
    }

    void EnviaLesVaquesALaCiutat(string _)
    {
        // http://localhost:4567/tocity
        var litres = Camio.Sum(v => v.Pes * v.Raça.LitresPerKg);
        Ciutat.AddRange(Camio);
        Camio.Clear();
        Litres = Litres + litres;

    }

    void NoFacisRes(string x)
    {

    }
}
