@inherits LayoutComponentBase

<Capsalera Title="Portem la llet a la ciutat" />

<div class="flex-1 bg-white flex-col sm:flew-row .border-2" id="main">
    <!-- Columnes -->
    <div class="flex w-screen bg-white h-screen">
        @Body
    </div>
</div>
<Peu />
